<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"
            integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a"
            crossorigin="anonymous"></script>

</head>
<body>
<input type="text" id="message">
<button onclick="sendMessage()">send</button>
<div id="message-container">

</div>
<script>
    const socket = io('https://check.it-lead.net/')

    socket.on("connection")

    const sendMessage = () => {
        let message = document.getElementById('message').value
        socket.emit('message', message)
        document.getElementById('message').value = ''
    }

    socket.on('play-ads', (data) => {

        console.log(data)
        document.getElementById('message-container').innerHTML += `<div>${data.link}</div>`

    })


</script>
</body>
</html>
